<html>
	<head></head>
	<body>
		<form actiopn="/fileupload" method="post" enctype="multipart/form-data">
      <input type="text" name="username">
      <input type="file" name="thumbnail">
      <input type="submit">
    </form>
	</body>
</html>