<html>
	<head></head>
	<body>
		<form actiopn="/fileupload" method="post" enctype="multipart/form-data">
      <input type="file" name="upload">
      <input type="submit" value="Upload">
    </form>
	</body>
</html>