<!-- Forms
================================================== -->
<section id="forms">
  <div class="page-header">
    <h1>New Word</h1>
  </div>
  <div class="row">
    <div class="span9">
      <form class="well" action="products.json" enctype="multipart/form-data" method="post">
        <fieldset>
          <legend>Enter product information</legend>
          <div class="control-group">
            <label class="control-label" for="xlInput">Title</label>
            <div class="controls">
              <input class="input-xlarge" id="productTitle" name="title" size="30" type="text" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="xlInput">Image Name</label>
            <div class="controls">
              <input class="input-xlarge" id="imageName" name="imageName" size="30" type="text" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="xlInput">Description</label>
            <div class="controls">
              <textarea class="input-xlarge" id="productDescription" name="description"></textarea>
            </div>
          </div>
          <div>
            <label>Image</label>
            <div class="controls">
              <input type="file" name="image">
            </div>
          </div>
          <!-- <div class="control-group">
            <label class="control-label" for="normalSelect">Select</label>
            <div class="controls">
              <select class="input-xlarge" name="type" id="type">
                <option value="noun">Noun</option>
                <option value="verb">Verb</option>
                <option value="exclamation">Exclamation</option>
              </select>
            </div>
          </div> -->
          <div class="form-actions">
            <button id="save_product" class="btn btn-primary" type="submit">Create</button>
            <button class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div><!-- /row -->

