<section id="forms">
  <div class="page-header">
    <h1>添加商品</h1>
  </div>
  <div class="row">
    <label>请先选择要上传的商品图片</label>
    <form id="upload_form" action="/fileupload" method="post"  enctype="multipart/form-data">
      <div class="controls">
        <input type="file" name="upload" id="upload">
        <label type="submit" id="upload_button" class="btn btn-primary disabled" data-loading-text="Loading...">
          上传
        </label>
      </div>
    </form>
    <div id="uploaded_image" class="span2 thumbnail">
      <image id="thumbnail" src="#"/>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      <form class="well" action="products.json" enctype="multipart/form-data" method="post">
        <fieldset>
          <legend>请输入商品信息</legend>
          <div class="control-group">
            <label class="control-label" for="xlInput">标题</label>
            <div class="controls">
              <input class="input-xlarge" id="productTitle" name="title" size="30" type="text" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="xlInput">分类</label>
            <div class="controls">
              <select class="input-xlarge" id="category" name="category"></select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="xlInput">图片</label>
            <div class="controls">
              <input class="input-xlarge" id="imageName" name="imageName" size="30" type="text" disabled value=""/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="xlInput">商品描述</label>
            <div class="controls">
              <textarea class="input-xlarge" id="productDescription" name="description"></textarea>
            </div>
          </div>

          <div class="form-actions">
            <button id="save_product" class="btn btn-primary disabled">提交</button>
            <button class="btn">取消</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div><!-- /row -->

